{% extends "base.html" %}  
{% load static %} 

{% block content %}

    {% if messages %}
        {% for message in messages %}

            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="mx-auto alert alert-danger w-50 mt-3" id="flash-message" role="alert"> {{ message }} </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="mx-auto alert alert-success w-50 mt-3" id="flash-message" role="alert"> {{ message }} </div>
            {% else %}
                <div class="mx-auto alert alert-primary w-50 mt-3" id="flash-message" role="alert"> {{ message }} </div>
            {% endif %}

        {% endfor %} 
    {% endif %}

    <h1 class="display-4 m-3"> Recruiter Registration Page </h1>

    {% comment %} <div class="col-6 col-md-6 offset-3">
        <p>Already have an account? Login <a href={% url 'student-login' %}>here</a></p>

        <form method="POST" class="needs-validation" action="{% url 'student-signup' %}" autocomplete="off" enctype="multipart/form-data" novalidate>
            {% csrf_token %}

            <div class="mb-3 col">
                <label for="studentUsername" class="form-label">Username</label>
                <input type="text" id="studentUsername" name="studentUsername" class="form-control" required>
                <div class="invalid-feedback">Please enter a username</div>
            </div>

            <div class="mb-3 col">
                <label for="studentEmail" class="form-label">Email</label>
                <input type="email" id="studentEmail" name="studentEmail" class="form-control" required>
                <div class="invalid-feedback">Please enter a valid email</div>
            </div>

            <div class="mb-3 col">
                <!-- Password1 is imposed by Django's CreateUserForm -->
                <label for="studentPassword1" class="form-label">Password</label>
                <input type="password" id="studentPassword1" name="studentPassword1" class="form-control" required>
                <div class="invalid-feedback">Please enter a strong password</div>
            </div>

            <div class="mb-3 col">
                <label for="studentPassword2" class="form-label">Confirm Password</label>
                <input type="password" id="studentPassword2" name="studentPassword2" class="form-control" required>
                <div class="invalid-feedback">Please enter a strong password</div>
            </div>

            <!-- button for form submission -->
            <div class="mb-3 mt-5">
                <button type="submit" class="btn btn-primary col-3">Submit</button>
            </div>

        </form>
    </div> {% endcomment %}

{% endblock %}
