{% extends "base.html" %}  
{% load static %} 

{% block content %}

    {% if messages %}
        {% for message in messages %}

            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="mx-auto alert alert-danger w-50 mt-3" id="flash-message" role="alert"> {{ message }} </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="mx-auto alert alert-success w-50 mt-3" id="flash-message" role="alert"> {{ message }} </div>
            {% else %}
                <div class="mx-auto alert alert-primary w-50 mt-3" id="flash-message" role="alert"> {{ message }} </div>
            {% endif %}

        {% endfor %} 
    {% endif %}

    <h1 class="display-4 m-3"> Student Login Page </h1>

    <div class="col-6 col-md-6 offset-3">
        <p>Don't have an account? Signup <a href={% url 'studentSignup' %}>here</a></p>

        <form method="POST" action="{% url 'studentLogin' %}" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3 col">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" class="form-control">
            </div>

            <div class="mb-3 col">
                <label for="password" class="form-label">Password</label>
                <input type="text" id="password" name="password" class="form-control">
            </div>

            <!-- button for form submission -->
            <div class="mb-3 mt-5">
                <button type="submit" class="btn btn-primary col-3">Submit</button>
            </div> 

        </form>
    </div>

{% endblock %}
