{% extends "base.html" %}  
{% load static %} <!-- NOTE : this line is needed on ALL templates -->

{% block content %}


    <body>
        <div class="container-fluid">

            <a href="{% url 'admin_page' %}" class="btn btn-outline-dark mt-4 ms-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left me-3" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                </svg>
                Home
            </a>

            <div class="row my-5 justify-content-center">

                <div class="col-md-auto mx-5">

                    <h3 class="display-6 mb-2">Search live internships</h3>
                    <p>Click Submit to query the entire internship database</p>

                    <form method="POST" action="{% url 'queryInternships' %}" autocomplete="off" enctype="multipart/form-data">

                        {% csrf_token %}

                        <div class="row">
                            <div class="mb-3 col">
                                <label for="internshipCompany" class="form-label">Company</label>
                                <select class="form-select" id="internshipCompany" name="internshipCompany">
                                    <option selected></option>
                                    {% for company in allCompanies %}
                                        <option value="{{ company }}">{{ company }}</option>      
                                    {% endfor %} 
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3 col">
                                <label for="internshipField" class="form-label">Field</label>
                                <select class="form-select" id="internshipField" name="internshipField">
                                    <option selected></option>
                                    {% for field in fields %}
                                        <option value="{{ field }}">{{ field }}</option>      
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="mb-3 col">
                                <label for="internshipTitle" class="form-label">Title</label>
                                <select class="form-select" id="internshipTitle" name="internshipTitle">
                                    <option selected></option>
                                    {% for title in titles %}
                                        <option value="{{ title }}">{{ title }}</option>      
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3 col">
                                <label for="internshipMinGPA" class="form-label">Sort by Min GPA</label>
                                <select class="form-select" id="internshipMinGPA" name="internshipMinGPA">
                                    <option selected></option>
                                    <option value="asc">ascending</option>
                                    <option value="desc">descending</option>
                                </select>
                            </div>
                        </div>

                        <!-- button for form submission -->
                        <div class="mb-3 mt-5">
                            <button type="submit" class="btn btn-primary col-3">Submit</button>
                        </div>

                    </form>
                </div>

                <div class="col-md-auto mx-5 overflow-y-auto" style="height:400px;">
                    <h3 class="display-6 mb-4">Results</h3>

                    {% if request.method == 'GET' %}
                        <div class="alert alert-light" role="alert">
                            All records matching your query will appear here
                        </div>
                    {% endif %}

                    {% if request.method == 'POST' and internships|length == 0 %}
                        <div class="alert alert-danger" role="alert">
                           No results match your query
                        </div>
                    {% endif %}

                    {% for internship in internships %}
                        <div class="card mb-2" style="width:500px;">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <span>{{internship.title}} at {{ internship.company_name}} </span>
                                <a href="{% url 'internshipDetails' internship.internshipID %}" class="btn btn-light">Details</a>
                            </div>
                        </div>
                    {% endfor%}

                </div>

            </div>
            
        </div>
    </body>

{% endblock %}