{% extends "base.html" %}  
{% load static %} <!-- NOTE : this line is needed on ALL templates -->

{% block content %}

<div class="container">
    <header class="display-5 m-5">Welcome back, {{ request.user }}</header>

    <!-- AdminName will be replaced with username once admin log-in is successful -->
    <div class="row justify-content-center parent m-5">

        <div class="div1">
            <a href="{% url 'query-recruiters' %}" class="btn btn-outline-dark btn-lg">Search Recruiters</a>
        </div>

        <div class="div2">
            <a href="{% url 'query-internships' %}" class="btn btn-outline-dark btn-lg">Search Internships</a>
        </div>

        <div class="div3">
            <a href="#" class="btn btn-outline-dark btn-lg">Compute Offers</a>
        </div>

        <div class="div4">
            <a href="{% url 'manage-companies' %}" class="btn btn-outline-dark btn-lg">Companies Management Tool</a>
        </div>

        <div class="div5">                    
            <a href="{% url 'query-students' %}" class="btn btn-outline-dark btn-lg">Search Students</a>
        </div>

        <div class="div6">
            <a href="#" class="btn btn-outline-dark btn-lg">Analytics Dashboard</a>
        </div>

        <div class="div7">
            <a href="#" class="btn btn-outline-dark btn-lg">User Activity</a>
        </div>

    </div>
</div>

{% endblock %}
