{% extends "base.html" %}  
{% load static %} <!-- NOTE : this line is needed on ALL templates -->

{% block content %}

    <div class="container text-center">
        <h1 class="display-2 mt-5">Contacts Page</h1>
        <br>
        <h2 class="display-8 mt-1">Contact the individuals below for any problems, questions or updates to employer application detials</h2>
        <!--Contacts cards-->
        <div class="row mt-5">

            <div class="row mt-4 col-8 offset-2 my-3">

                <!-- Will contain Heather information-->
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                        <h5 class="card-header">Administrator: Toni Gibson</h5>
                        <div class="card-body mx-3">
                            <p class="card-text">Email: toni.gibson@abdn.ac.uk</p>
                            <a href="https://www.linkedin.com/in/toni-gibson-sfhea-75038b22/" class="btn btn-lg btn-success">Linkedin profile</a>
                        </div>
                    </div>
                </div>

                <!-- Will contain Toni information -->
                <div class="col-sm-6">
                    <div class="card">
                        <h5 class="card-header">Administrator: Dr Heather May Morgan</h5>
                        <div class="card-body mx-3">
                            <p class="card-text">Email: h.morgan@abdn.ac.uk</p>
                            <a href="https://www.linkedin.com/in/dr-heather-may-morgan-fhea-frsa/" class="btn btn-lg btn-primary">Linkedin profile</a>
                        </div>
                    </div>
                </div>
        </div>

    </div>

{% endblock %}
