{% extends "base.html" %}  
{% load static %} <!-- NOTE : this line is needed on ALL templates -->

{% block content %}

    <div class="container mt-4 col-6 offset-3 my-3">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Successful Submission</h4>
            <p>We received your submission and will contact you when a match will be computed</p>
            <hr>
            <p class="mb-0">We will be in touch soon!</p>
        </div>
    </div>

{% endblock %}
