{% extends "base.html" %}  
{% load static %} <!-- NOTE : this line is needed on ALL templates -->

{% block content %}

    {% if messages %}
        {% for message in messages %}

            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="mx-auto alert alert-danger w-50 mt-3" id="flash-message" role="alert"> {{ message }} </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="mx-auto alert alert-success w-50 mt-3" id="flash-message" role="alert"> {{ message }} </div>
            {% else %}
                <div class="mx-auto alert alert-primary w-50 mt-3" id="flash-message" role="alert"> {{ message }} </div>
            {% endif %}

        {% endfor %} 
    {% endif %}

    <div class="container text-center">
        <h1 class="display-2 mt-5">Welcome to Skillpilot</h1>

        <!-- student registration card -->
        <div class="row mt-5">

            <div class="row mt-4 col-8 offset-2 my-3">

                <!-- student registration form -->
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                        <h5 class="card-header">Student Portal</h5>
                        <div class="card-body mx-3">
                            <a href="{% url 'student-login' %}" class="btn btn-lg btn-success">Login</a>
                            <a href="{% url 'student-signup' %}" class="btn btn-lg btn-primary">Signup</a>
                        </div>
                    </div>
                </div>

                <!-- employer registration form -->
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                        <h5 class="card-header">Recruiter Portal</h5>
                        <div class="card-body mx-3">
                            <a href="{% url 'recruiter-login' %}" class="btn btn-lg btn-success">Login</a>
                            <a href="{% url 'recruiter-signup' %}" class="btn btn-lg btn-primary">Signup</a>
                        </div>
                    </div>
                </div>
        </div>

    </div>

{% endblock %}
