{% extends "base.html" %}  
{% load static %} <!-- NOTE : this line is needed on ALL templates -->

{% block content %}

    <div class="container text-center">
        <h1 class="display-2 mt-5">Welcome to Skillpilot</h1>

        <!-- student registration card -->
        <div class="row mt-5">

            <div class="row mt-4 col-8 offset-2 my-3">

                <!-- student registration form -->
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                        <h5 class="card-header">Student Internship Application</h5>
                        <div class="card-body mx-3">
                            <p class="card-text">Students fill in the the form with correct information. Any enquiries check the contacts page.</p>
                            <a href="#" class="btn btn-lg btn-success">Login</a>
                        </div>
                    </div>
                </div>

                <!-- employer registration form -->
                <div class="col-sm-6">
                    <div class="card">
                        <h5 class="card-header">Employers internship application</h5>
                        <div class="card-body mx-3">
                            <p class="card-text">Please complete the form below for each placement opportunity to enable us to take
                                plans forward and identify student matches.</p>
                            <a href="#" class="btn btn-lg btn-primary">Login</a>
                        </div>
                    </div>
                </div>
        </div>

    </div>

{% endblock %}
