{% extends "base.html" %}  
{% load static %} <!-- NOTE : this line is needed on ALL templates -->

{% block content %}

    <body>
        <div class="container col-6 offset-3 my-3">

            <header class="display-5 mb-3">Internship Registration Form</header>

            <form method="POST" action="{% url 'internship' %}">

                {% csrf_token %}

                <!-- internship title input -->
                <div class="mb-3">
                    <label for="titleInput" class="form-label">Title</label>
                    <input type="text" class="form-control" id="titleInput" aria-describedby="titleInput" required>
                </div>

                <!-- internship field input -->
                <div class="mb-3">
                    <label for="fieldInput" class="form-label">Field</label>
                    <input type="text" class="form-control" id="fieldInput" aria-describedby="fieldInput" required>
                </div>

                <div class="row mb-3">

                    <!-- internship contract length input -->
                    <div class="col">
                        <label for="contractmodeInput" class="form-label">Contract mode</label>
                        <select id="contractmodeInput" class="form-select" aria-label="internship contract mode">
                            <option selected></option>
                            <option value="online">online</option>
                            <option value="in-person">in-person</option>
                            <option value="hybrid">hybrid</option>
                        </select>
                    </div>

                    <!-- internship contract pattern input -->
                    <div class="col">
                        <label for="contractpatternInput" class="form-label">Contract pattern</label>
                        <select id="contractpatternInput" class="form-select" aria-label="stcontract study pattern">
                            <option selected></option>
                            <option value="full-time">Full-time</option>
                            <option value="part-time">Part-time</option>
                        </select>
                    </div>

                </div>

                <div class="row mb-3">

                    <!-- internship min GPA input -->
                    <div class="col">
                        <label for="internshipGPAInput" class="form-label">Min GPA</label>
                        <input type="number" class="form-control" id="internshipGPAInput" aria-describedby="internshipGPAInput" min="40" max="90" required>
                    </div>

                    <!-- internship number of positions input -->
                    <div class="col">
                        <label for="internshipPositions" class="form-label">Positions</label>
                        <input type="number" class="form-control" id="internshipPositions" aria-describedby="internshipPositions" min="1" max="10" required>
                    </div>

                </div>

                <div class="row mb-3">
                    <button type="submit" class="btn btn-primary col-3">Submit</button>
                </div>

            </form>
        </div>
    </body>

{% endblock %}