{% extends "base.html" %}  
{% load static %} <!-- NOTE : this line is needed on ALL templates -->


{% block content %}
<body class="text-center">
    <form class="form-signin" action="{% url 'login_internship' %}" method="post">
        {% csrf_token %}
        <br>
        <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
        <input type="text" name="user_name" class="form-control" placeholder="User Name" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <br><br>
        {% for message in messages %}
            <p id = "messages">{{message}}</p>
        {% endfor %}
        <p class = "text-center">
            Do not have an account ? <a href="{% url 'Company-registration' %}">Register Here</a>
        </p>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2024</p>
    </form> 
</body>

{% endblock %}
