{% extends "base.html" %}  
{% load static %} <!-- NOTE: this line is needed on ALL templates -->

{% block content %}

<body>

    <!-- display flash messages -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} id="flash-message" class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h1> Student dahsboard </h1>

    <a href="{% url 'logout' %}" class="btn btn-primary col-3">Log out</button>

    <!-- delete student account button here... -->

</body> 

{% endblock %}
