{% extends "base.html" %}  
{% load static %} <!-- NOTE : this line is needed on ALL templates -->

{% block content %}

    <body class="SFORM">

        <div class="form2" style="overflow-y: scroll">
            <header>Student Internship Application</header>

            <form method="POST" action="{% url 'student' %}">

                {% csrf_token %}

                <!-- student fullname input -->
                <div class="mb-3">
                    <label for="fullnameInput" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="fullnameInput" aria-describedby="fullnameInput" required>
                </div>

                <!-- student email input -->
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Email</label>
                    <input type="email" class="form-control" id="emailInput" aria-describedby="emailInput" required>
                </div>

                <!-- student current programme input -->
                <div class="mb-3">
                    <label for="currProgrammeInput" class="form-label">Current programme</label>
                    <input type="text" class="form-control" id="currProgrammeInput" aria-describedby="currProgrammeInput" required>
                </div>

                <!-- student previous programme input -->
                <div class="mb-3">
                    <label for="prevProgrammeInput" class="form-label">Previous programme</label>
                    <input type="text" class="form-control" id="prevProgrammeInput" aria-describedby="prevProgrammeInput" required>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
           
                <!-- student study mode input -->
                <!-- student study pattern input -->

                <!-- student GPA input -->
                <!-- student desired contract length input -->
                <!-- student willing-to-relocate input -->

                <!-- student aspirations input -->

            </form>

        </div>

    </body>

{% endblock %}
